* {
    font-family: Bahnschrift, sans-serif;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#211715)) fixed;
}
.body-container {
    display: flex;
    flex-flow: nowrap;
    width: 100%;
}
.nav-container {
    width: 100%;

}
.navbar-custom {
    background: #211f21;
    font-size: 150%;
}

.menu-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;

}
.img {
    width: 100%;
    display: block;
}
.img-logo {
    max-width: 50%;
}
.on-image {
    position: absolute;
}
.menu-text {
    font-family: Bahnschrift, sans-serif;
    color: white;
    font-size: 7vw;
    font-weight: bold;

    bottom: 1%;
    left: 2%;
}
.menu-btn {
    text-align: center;
    right: 3%;
    bottom: 3.5%;
}
.login-button {
    width: 20vw;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}
.logo {
    text-decoration: black;
    color: #cf4a4a;
    font-size: 4vw;

}
.logo-img {
    width: 10%;
}
.li {
    margin-left: 5vw;
}
.footer {
    width: 100%;
    background: #211715;
    color: whitesmoke;
    font-size: 80%;
    text-align: center;
}
.user-btn {
    padding: 1vw;
    min-width: 20vw;
    max-width: 35vw;
    border-radius: 2vw;
    background: rgba(81,78,81,0.5)    /*  przezroczyste tylko tlo */
}
.user-btn-title {
    font-size: 2vw;
    color: white;
}
.user-btn-links {
    background: rgba(131,134,140,0.4);
    border-radius: 2vw;
    display: flex;
}
.user-btn-text {
    padding: 1vw;
    text-decoration: none;
    color: wheat;
    font-size: 1.5vw;
    border-radius: 3vw;
}
.user-btn-text:hover {
    color: black;
}
.form-bar {
    width: 100%;
    margin-bottom: 5vw;
}
.form-details {
    opacity: 0.85;
    color: white;
    font-size: 1.5vw;
}
.form-title {
    color: #cf4a4a;
    width: 100%;
    text-align: center;
    font-size: 5.5vw;
}
.img-logo {
    max-width: 15%;
}
.nav-bar-menu {
}
.nav-bar-menu-links {
    background: #0f0707;
    display: flex;
    flex-flow: row;

}
.nav-item {
    padding: 1%;
    text-align: center;
    font-size: 1.5vw;
    width: 34%;
    text-decoration: none;
    color: white;
}
.nav-item:hover {
    cursor: pointer;
    background: #2a221f;
}
h1,h2,h3,h4,h5,h6 {
    padding: 1vw;
}
.garage-main {
    padding: 1vw;
    display: flex;
    flex-flow: row;
}
.sidebar {
    display: flex;
    flex-flow: column;
    margin-right: 2vw;
    background: #262626;
    width: 20%;
    height: 30vw;
}
.sidebar-title {
    width: 100%;
    height: 10%;
    background: #0e0e0e;
    margin-bottom: 1vw;

}
.post-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.sidebar-post {
    align-self: center;
    margin: 2%;
    width: 90%;
    height: 2vw;
    background: #727071;
}
.cars-bar {
    display: flex;
    flex-flow: column;
    background: #181413;
    width: 80%;
    height: 90%;
}
.cars-bar-details {
    background: #0b0706;
    width: 100%;
    height: 4vw;
}
.cars-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    overflow-y: scroll;
}
.cars-container::-webkit-scrollbar{
    display: none; /*schowanie scrollbara*/
}
.car {
    align-self: center;
    margin: 2%;
    background: #262626;
    width: 95%;
    height: 4vw;
}
#topBtn {
    border: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    background-color: #ff4c4c;
}
#topBtn a {
    text-decoration: none;
    color: black;
}
