* {
    font-family: Bahnschrift, sans-serif;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#211715)) fixed;
}
.body-container {
    display: flex;
    flex-flow: nowrap;
    width: 100%;
}
.nav-container {
    width: 100%;

}
.navbar-custom {
    background: #211f21;
    font-size: 150%;
}

.menu-container {
    width: 100%;
    position: relative;

}
.img {
    width: 100%;
    display: block;
}
.img-logo {
    max-width: 50%;
}
.on-image {
    position: absolute;
}
.menu-text {
    font-family: Bahnschrift, sans-serif;
    color: white;
    font-size: 7vw;
    font-weight: bold;

    bottom: 1%;
    left: 2%;
}
.menu-btn {
    text-align: center;
    right: 3%;
    bottom: 3.5%;
}
.login-button {
    width: 20vw;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}
.logo {
    text-decoration: black;
    color: #cf4a4a;
    font-size: 4vw;

}
.logo-img {
    width: 10%;
}
.li {
    margin-left: 5vw;
}
.footer {
    background: #170f0f;
    width: 100%;
    border-bottom: black 0.1vw solid;
    color: whitesmoke;
    font-size: .8vw;
    text-align: center;
}
.user-btn {
    padding: 1vw;
    min-width: 20vw;
    max-width: 35vw;
    border-radius: 2vw;
    background: rgba(81,78,81,0.5)    /*  przezroczyste tylko tlo */
}
.user-btn-title {
    font-size: 2vw;
    color: white;
}
.user-btn-links {
    background: rgba(131,134,140,0.4);
    border-radius: 1.25vw;
    display: flex;
}
.user-btn-text {
    padding: 1vw;
    text-decoration: none;
    color: wheat;
    font-size: 1.5vw;
    border-radius: 3vw;
}
.user-btn-text:hover {
    color: black;
}
.form-bar {
    width: 100%;
    margin-bottom: 5vw;
}
.form-details {
    opacity: 0.85;
    color: white;
    font-size: 1.5vw;
}
.form-title {
    color: #cf4a4a;
    width: 100%;
    text-align: center;
    font-size: 5.5vw;
}
.img-logo {
    max-width: 15%;
}
.nav-bar-menu {
}
.nav-bar-menu-links {

    background: #0f0707;
    display: flex;
    flex-flow: row;

}
.nav-item {
    padding: 1%;
    text-align: center;
    font-size: 1.5vw;
    width: 34%;
    text-decoration: none;
    color: wheat;
}
.nav-item:hover {
    cursor: pointer;
    color: #a9502b;
}
h1,h2,h3,h4,h5,h6 {
    padding: 1vw;
}
.garage-main {
    padding: 1vw;
    display: flex;
    flex-flow: row;
}
.sidebar {
    display: flex;
    flex-flow: column;
    position: relative;
    margin-right: 2vw;
    width: 30%;
    height: 30vw;
}
.sidebar-title {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 15%;
    font-size: 1.75vw;

    color: white;

}
.post-container {

    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.sidebar-post {
    display: flex;
    flex-flow: row;

    align-items: center;
    align-self: center;

    text-decoration: none;
    color: wheat;

    border-radius: .5vw;
    border: white .1vw solid;

    margin: 3.5%;
    width: 90%;
    height: 2.5vw;

}
.sidebar-post:hover {
    cursor: pointer;
    color: #cf4a4a;
}
.sidebar-post-item {
    width: 20%;
    font-size: 1vw;
    margin-left: 1vw;
}
.cars-bar {
    display: flex;
    flex-flow: column;

    width: 80%;
    height: 90%;
}
.cars-bar-details {
    color: whitesmoke; background: #0b0706;
    font-size: 2vw;
    width: 100%;
    height: 4vw;
}
.cars-bar-name {
    width: 62%;
    margin-left: 7vw;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.cars-bar-name div{
    margin-top: 0.5vw;
}
.cars-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    overflow-y: scroll;
}
.cars-container::-webkit-scrollbar{
    display: none; /*schowanie scrollbara*/
}
.car {
    align-self: center;
    margin: 2%;
    border-bottom: white .1vw solid;
    background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(0,0,0,0) 100%);
    border-radius: .4vw;
    width: 95%;
    height: 4vw;
}
#topBtn {
    border: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    background-color: #ff4c4c;
}
#topBtn a {
    text-decoration: none;
    color: black;
}
.car-item-container {
    width: 100%;
    color: lightgoldenrodyellow;
    font-size: 1.5vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: right;
}
.car-item {
    width: 20%;
}
.car-item-btn {
    margin-right: 1vw;
    background: #2a221f;
    border-radius: 0.75vw 0 0.75vw 0;
    color: white;
    font-size: 1vw;
    width: 8vw;
    height: 2vw;
}
.car-item-btn:hover {
    background: white;
    color: #2a221f;
}

.modal-title {
    font-size: 1.5vw;
    color: brown;
}
.modal-body {
    color: white;
    font-size: 1vw;
    background: #4e4844;
}
.modal-btn {
    width: 100%;
    text-align: center;
}
.form-btn {
    background: #2a221f;
    color: wheat;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    margin-top: 1vw;
}
.form-btn:hover {
    color: #cf4a4a;
    background: white;
}
.car-details-header {
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-bottom: 2vw;
}
.car-details-header-txt {
    text-align: center;
    align-self: center;
    color: #d7c0a1;
    width: 30%;
    font-size: 3.5vw;
    padding: 1vw;
    border: white 0.2vw solid;
    border-top: none;
}
.car-details-header-btn{
    padding: 1vw;
    margin-top: 1vw;
    width: 70%;
    display: flex;
    flex-flow: row-reverse;
    border-bottom: white 0.2vw solid;
}
.car-details-back-btn {
    margin-right: 2vw;
    border-radius: 1.5vw 0 0.25vw 0.25vw;
    width: 10vw;
    height: 4vw;
    background: #414141;
    color: #a99277;
}
.car-details-back-btn:hover {
    background: #a99277;
    color: #414141;
}
.car-details-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 3vw 0;
}
.car-details-posts-container {
    width: 80%;
    background: rgba(24,20,19);

}
.post {
    display: flex;
    flex-flow: row;
    color: white;
}
.post-item {
    width: 100%;
    margin: 0.5vw;
    margin-top: 1vw;
    font-size: 1vw;
    text-align: center;
}
.car-details-container {
    margin-top: 3vw;
    width: 95%;
    /*background: rgba(38,38,38,0.5);*/
    color: white;
}
.car-details-info {
    width: 100%;
    font-size: 1vw;
    justify-content: center;
    display: flex;
    flex-flow: row;
}

.table-custom {
    color: white;
    font-size: 1vw;
    margin: 1.5vw;
}
.table-custom thead {
    font-size: 1.5vw;
    color: #a9602e;
}
.table-custom th {
    padding-left: 0.5vw;
    font-size: 1.1vw;
}
.table-custom tr {
    height: 2vw;
}
.table-custom tbody tr:hover {
    background: rgba(38,38,38,0.66)
}
.table-custom td {
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
}

.modal-dialog-custom {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50%;
}
.modal-form-body {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    font-size: 1vw;
    padding: 1vw;
    width: 100%;

    border-bottom: white 0.1vw solid;

    background: #262626;
    color: white;
}
.modal-form-content {
    width: 25%;
    margin: 0 1vw;
}

.form-btn-custom {
    background: #4b4b4b;
    color: white;
    width: 10vw;
    height: 2.5vw;
    border-radius: 0.6vw;
}
.form-btn-custom:hover {
    background: #262626;
}
.input-group-custom {
    display: flex;
    flex-flow: row;
}
.modal-content {
    background: #171717;
}
.modal-header {
    background: #171717;
}
.form-group {
    margin: 1vw;
}
.table-text {
    color: wheat;
}
.delete-btn {
    width: 100%;
    height: 100%;
    color: wheat;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
}
.delete-btn:hover {
    color: #cf4a4a;
}
